<html>
<table>
<thead>
<tr>
<th>Calendar</th>
<th>Date</th>
<th>Note</th>
</tr>
</thead>
<tbody>
{{#holidays}}
    <tr>
        <td>{{calendar}}</td>
        <td>{{date}}</td>
        <td>{{note}}</td>
    </tr>
{{/holidays}}
</tbody>
</table>
</html>